/# Folders to ignore

/analysis/code/logs/*

/analysis/temp/*

/talks/*

/relatedPapers/*

/old/*

/references/*

/submission/*

/myPaper/feedback/*

/# File types to ignore

*.aux
*.synctex.gz
*.log
*.fdb_latexmk
*.fls
*.out
*.bbl
*.blg

next.md
